html,body{margin:0px;padding:0px;}

body{
    background-color: orangered;
}
#bm {
    width: 100%;
    height: 100%;
  }


.firstbiaoti{
    color: #ffe184;
    text-align: right;
    font-size: 7vh;

}
.firstimg{
position: absolute;
bottom: 0vh;
left: 20vw;
height: 40vh;

}
input{
    visibility: hidden;
}
.labeltext{
    position: relative;
    top:35%;
    left: 20%;
}
label{
    /*为了改变label不能改width的问题*/
    display:inline-block;
    width: 20vw;
    height: 20vw;
    /*position: relative;*/
    /*top:-10vw;*/
    /*padding: 10vw;*/
    border: 2px solid #f7ffa0;
    border-radius: 50%;
    background-color: #ffe184;
}
input:checked+label{
    background-color: red;
}
.btn {
    position: absolute;
    bottom: 40vh;
    left: 10vw;

    width: 40vw;
    height: 5vh;
    background-color: darkorange;
    border: 0px;
    box-shadow: 3px 3px 10px #ffbcb9;

}

.seconddiv {
    width: 100vw;
    height: 100vh;
    background-color: orangered;
    font-size: 7vw;
}
.secondimg{
    width: 100vw;
    margin: 0px;
}
.secondtitle{
   text-align: center;
   background-color: orange
}
.people {
    position: relative;
    bottom: 140px;
    left: 0px;
    width: 40%
}
li{
    list-style: none;
    padding-left: 10px;
    border-left:3px solid #f7ffa0;
    margin-bottom: 10px;
    
}
.bottominfosp{
    border-left:0px solid #f7ffa0;
    padding-left: 10vw;
    border-left:5vw solid #ffffff;


}